<app-header></app-header>
<div>
  <div class="container-xl">
    <div class="flex flex-wrap items-center mt-[24px] mb-[24px] pl-5">
      <div class="border-r-2 pr-3">
        <div class="rounded-full bg-gray-300 flex items-center p-1">
          <mat-icon>home</mat-icon>
        </div>
      </div>
      <div class="pl-3">
        <span>Sức khoẻ răng miệng</span>
      </div>
    </div>
  </div>
  <div style="background-color: rgb(227, 242, 255)">
    <div class="mt-4"></div>
  </div>
</div>

<app-footer></app-footer>
