<div class="mt-[20px] ">
    <div class="search_results pt-3 pb-3" style="background-color: #b1ebf8; width: 100%;">
        <div class="container-xl">
            <span>Tìm kiếm > </span>
            <span style="color: blue;">BS . Nguyễn Mai Thiên Phương</span>
        </div>
    </div>
    <div class="info_doctor">
        <div class="container-xl">
            <div class="basic_info flex mt-[24px] pb-[24px] gap-10 border-b-2">
                <div class="avatar h-[100px] w-[100px]">
                    <img src="https://cdn-healthcare.hellohealthgroup.com/2023/05/1684836195_646c8f634f6285.18108612.jpg?w=96&q=100" class=" h-[100px] w-[100px] rounded-full" alt="">
                </div>
                <div class="name ">
                    <div>
                       <p class="font-bold text-black text-[20px] mb-1">BS . Nguyễn Mai Thiên Phương</p>
                    </div>
                    <p>Nha Khoa</p>
                    <div class="flex gap-3 mt-1">
                        <div class="bg-slate-200 rounded-3xl pt-2 pb-2 pl-[10px] pr-[10px]">
                            <p class="text-[12px]">Đặt lịch khám</p>
                        </div>
                        <div class="bg-slate-200 rounded-3xl pt-2 pb-2 pl-[10px] pr-[10px]">
                            <p class="text-[12px]">Đặt lịch khám</p>
                        </div>
                        <div class="bg-slate-200 rounded-3xl pt-2 pb-2 pl-[10px] pr-[10px]">
                            <p class="text-[12px]">Đặt lịch khám</p>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="booking flex">
                <div class="doctor_content w-7/12">
                    <div class="highlight rounded-xl " style="background-color: rgb(227, 242, 255);">
                        <h6>Điểm nổi bật nhất</h6>
                        <div>
                            <ul>
                                <li><span>Chuyên về lĩnh vực Răng - Hàm - Mặt:</span> Bác sĩ chuyên điều trị các vấn đề bệnh lý về răng cũng như tư vấn các dịch vụ nha khoa thẩm mỹ.  </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
