<div class="mt-[20px] ">
    <div class="search_results pt-3 pb-3" style="background-color: #b1ebf8; width: 100%;">
        <div class="container-xl">
            <span>Tìm kiếm > </span>
            <span style="color: blue;">BS . Nguyễn Mai Thiên Phương</span>
        </div>
    </div>
    <div class="info_doctor">
        <div class="container-xl">
            <div class="basic_info flex mt-[24px] pb-[24px] gap-10 border-b-2">
                <div class="avatar h-[100px] w-[100px]">
                    <img src="https://cdn-healthcare.hellohealthgroup.com/2023/05/1684836195_646c8f634f6285.18108612.jpg?w=96&q=100" class=" h-[100px] w-[100px] rounded-full" alt="">
                </div>
                <div class="name ">
                    <div>
                       <p class="font-bold text-black text-[20px] mb-1">BS . Nguyễn Mai Thiên Phương</p>
                    </div>
                    <p>Nha Khoa</p>
                    <div class="flex gap-3 mt-1">
                        <div class="bg-slate-200 rounded-3xl pt-2 pb-2 pl-[10px] pr-[10px]">
                            <p class="text-[12px]">Đặt lịch khám</p>
                        </div>
                        <div class="bg-slate-200 rounded-3xl pt-2 pb-2 pl-[10px] pr-[10px]">
                            <p class="text-[12px]">Đặt lịch khám</p>
                        </div>
                        <div class="bg-slate-200 rounded-3xl pt-2 pb-2 pl-[10px] pr-[10px]">
                            <p class="text-[12px]">Đặt lịch khám</p>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="booking flex mt-[24px] gap-5">
                <div class="doctor_content w-7/12">
                    <!-- Điểm nổi bật -->
                    <div class="highlight rounded-xl p-[20px]" style="background-color: rgb(227, 242, 255);">
                        <h6 style="border-left: 3px solid blue; padding-left: 10px;">Điểm nổi bật nhất</h6>
                        <div>
                            <ul class="list-disc ml-[20px] mt-[10px]">
                                <li><span class="font-bold">Chuyên về lĩnh vực Răng - Hàm - Mặt:</span> Bác sĩ chuyên điều trị các vấn đề bệnh lý về răng cũng như tư vấn các dịch vụ nha khoa thẩm mỹ.  </li>
                                <li><span class="font-bold">Chuyên về lĩnh vực Răng - Hàm - Mặt:</span> Bác sĩ chuyên điều trị các vấn đề bệnh lý về răng cũng như tư vấn các dịch vụ nha khoa thẩm mỹ.  </li>
                                <li><span class="font-bold">Chuyên về lĩnh vực Răng - Hàm - Mặt:</span> Bác sĩ chuyên điều trị các vấn đề bệnh lý về răng cũng như tư vấn các dịch vụ nha khoa thẩm mỹ.  </li>
                            </ul>


                        </div>
                    </div>
                    <!--  -->
                    <!-- Thông tin cơ bản  -->
                    <div class="flex gap-5 mt-[24px] border-b-2 ">
                        <div class="" style="border-bottom:2px solid #19829a;">
                            <p class="font-bold " style="color: #19829a;">Thông tin cơ bản</p>
                        </div>
                        <div class="" style="border-bottom:2px solid #19829a;">
                            <p class="font-bold " style="color: #19829a;">Đánh giá</p>
                        </div>

                    </div>
                    <!--  -->
                    <!-- Thông tin bác sĩ -->
                    <div class="mt-[24px]">
                        <h6 class="font-bold" style="border-left: 3px solid blue; padding-left: 10px;">Thông tin bác sĩ</h6>
                        <p class="mt-[24px]">Bác sĩ Mai Nguyễn Thiên Phương hiện đang là Trưởng khoa Răng - Hàm - Mặt tại phòng khám Đa khoa Thành Công.</p>
                        <p class="mt-[24px]">Với hơn 16 năm kinh nghiệm, bác sĩ chuyên thăm khám và điều trị các vấn đề bệnh lý về răng miệng như bệnh viêm nướu, nha chu, niêm mạc miệng, điều trị tủy,...Bên cạnh đó, bác sĩ cũng nhận tư vấn về các vấn đề nha khoa thẩm mỹ: cạo vôi răng, tẩy trắng răng, niềng răng chỉnh nha,...</p>
                        <p class="mt-[24px]">Là Trưởng khoa Răng - Hàm - Mặt tại phòng khám, ngoài nền tảng chuyên môn vững chắc, bác sĩ luôn cởi mở, tận tình tư vấn về các giải pháp điều trị phù hợp nhất. Tất cả đều vì mục tiêu đảm bảo chất lượng dịch vụ tại cơ sở, hỗ trợ bệnh nhân có được quá trình điều trị như ý.</p>
                    </div>
                    <!--  -->
                    <!-- Thế mạnh chuyên môn -->
                    <div class="mt-[24px]">
                        <p class="font-bold mb-[24px]">Thế mạnh chuyên môn</p>
                        <div class="flex flex-wrap gap-[8px]">
                            <span class=" rounded-2xl p-[8px] bg-slate-100 mr-[10px]">
                                Bệnh viêm nướu
                            </span>
                            <span class=" rounded-2xl p-[8px] bg-slate-100 mr-[10px]">
                                Bệnh viêm nướu
                            </span>
                            <span class=" rounded-2xl p-[8px] bg-slate-100 mr-[10px]">
                                Bệnh viêm nướu
                            </span>
                            <span class=" rounded-2xl p-[8px] bg-slate-100 mr-[10px]">
                                Bệnh viêm nướu
                            </span>
                            <span class=" rounded-2xl p-[8px] bg-slate-100 mr-[10px]">
                                Bệnh viêm nướu
                            </span>
                            <span class=" rounded-2xl p-[8px] bg-slate-100 mr-[10px]">
                                Bệnh viêm nướu
                            </span>
                            <span class=" rounded-2xl p-[8px] bg-slate-100 mr-[10px]">
                                Bệnh viêm nướu
                            </span>
                            <span class=" rounded-2xl p-[8px] bg-slate-100 mr-[10px]">
                                Bệnh viêm nướu
                            </span>                           
                            
                        </div>
                        
                    </div>
                    <!--  -->
                    <!-- Dịch vụ -->
                    <div>
                        <p class="font-bold mt-[24px]">Dịch vụ</p>
                        <div class="bg-slate-100 p-3 mt-[24px]">
                            <p class="font-bold ">Khám răng hàm mặt</p>
                            <p class="mt-[14px]">Bao gồm các hạng mục điều trị các bệnh lý về nha khoa cũng như các kỹ thuật: nhổ răng, tẩy trắng răng, cạo vôi răng,...</p>
                          <p class="mt-[10px]">Phí tư vấn ban đầu từ &nbsp; <span style="color: rgb(41, 207, 41);">100.000 đ</span></p>  

                        </div>
                    </div>
                    <!--  -->
                    <!-- Kinh nghiệm làm việc -->
                    <div class="flex mt-[24px] gap-[10.25rem]">
                        <div class="experience">
                            <p class="font-bold ">Kinh nghiệm làm việc</p>
                            <div class="flex gap-2 mt-[10px]">
                                <div>
                                    <mat-icon class="h-[15px]">keyboard_arrow_right</mat-icon>

                                </div>
                                <div>
                                    <p class="text-[15px]" style="color: rgba(21, 21, 21, 0.782);">Trưởng khoa Răng Hàm Mặt</p>
                                    <p class="text-[12px] text-gray-400">Phòng khám Đa khoa Thành Công</p>
                                    <p class="text-[12px] text-gray-400">2016 - Hiện tại</p>
                                </div>
                            </div>
                            <div class="flex gap-2 mt-[10px]">
                                <div>
                                    <mat-icon class="h-[15px]">keyboard_arrow_right</mat-icon>

                                </div>
                                <div>
                                    <p class="text-[15px]" style="color: rgba(21, 21, 21, 0.782);">Trưởng khoa Răng Hàm Mặt</p>
                                    <p class="text-[12px] text-gray-400">Phòng khám Đa khoa Thành Công</p>
                                    <p class="text-[12px] text-gray-400">2016 - Hiện tại</p>
                                </div>
                            </div>
                        </div>
                        <div class="language">
                            <p class="font-bold ">Ngôn ngữ</p>
                            <div class="flex gap-2 mt-[10px]">
                                <div>
                                    <mat-icon class="h-[15px]">keyboard_arrow_right</mat-icon>

                                </div>
                                <div>
                                    <p class="text-[15px]" style="color: rgba(21, 21, 21, 0.782);">Tiếng việt</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <!-- Hình thức thanh toán -->
                    <div class="mt-[24px]">
                        <p class="font-bold ">Hình thức thanh toán</p>
                    <div class="flex gap-3 mt-[10px]">
                        <div class="payment text-center">
                            <div class="payment_logo rounded-xl  h-[50px] w-[100px]" style="border: 1px solid black; padding: 8px 10px;">
                                <img class="w-[100%] h-[100%] object-contain" src="https://cdn-healthcare.hellohealthgroup.com/2022/09/1662628692_6319b3542cb4c4.07235582.jpg" alt="">
                            </div>
                            <p class="text-[15px] mt-[6px] text-gray-700">Tiền mặt</p>
                        </div>
                        <div class="payment text-center">
                            <div class="payment_logo rounded-xl  h-[50px] w-[100px]" style="border: 1px solid black; padding: 8px 10px;">
                                <img class="w-[100%] h-[100%] object-contain" src="https://cdn-healthcare.hellohealthgroup.com/2022/09/1662628680_6319b348d6a447.04929897.jpg" alt="">
                            </div>
                            <p class="text-[15px] mt-[6px] text-gray-700">Master Card</p>
                            
                        </div>
                        <div class="payment text-center">
                            <div class="payment_logo rounded-xl  h-[50px] w-[100px]" style="border: 1px solid black; padding: 8px 10px;">
                                <img class="w-[100%] h-[100%] object-contain" src="https://cdn-healthcare.hellohealthgroup.com/2022/09/1662628686_6319b34e399c96.98077619.jpg" alt="">
                            </div>
                            <p class="text-[15px] mt-[6px] text-gray-700">JCB</p>
                            
                        </div>
                        <div class="payment text-center">
                            <div class="payment_logo rounded-xl  h-[50px] w-[100px]" style="border: 1px solid black; padding: 8px 10px;">
                                <img class="w-[100%] h-[100%] object-contain" src="https://cdn-healthcare.hellohealthgroup.com/2022/09/1662628678_6319b3463a0de7.36104067.jpg" alt="">
                            </div>
                            <p class="text-[15px] mt-[6px] text-gray-700">Visa</p>
                            
                        </div>

                    </div>

                    </div>
                </div>

                <div class="direct_counseling w-5/12">
                    <div class="rounded-xl p-[20px]" style="background-color: aliceblue;">
                        <h6 class="font-bold ">Tư vấn trực tiếp</h6>
                        <p class="text-[15px] mt-[10px]">
                            Bác sĩ Thiên Phương chuyên khám và tư vấn các bệnh lý về Răng hàm mặt dành cho trẻ em và người lớn.
                        </p>
                        <mat-form-field class="example-full-width">
                            <mat-label>Chọn ngày</mat-label>
                            <input matInput [matDatepicker]="picker">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker">
                              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>

                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>
