<div class="profile">
    <div class="flex justify-between items-center w-[100%] ">
        <h3 class="font-bold text-[27px] text-left">Hồ sơ</h3>
        <h3
          style="
            font-size: 15px;
            color: rgb(68, 68, 206);
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
          "
        >
          Chỉnh sửa
          <p><mat-icon>open_in_new</mat-icon></p>
        </h3>
      </div>
      
      <div class="avatar flex flex-row gap-4 items-center">
        <img
          class="rounded-full"
          src="https://lh3.googleusercontent.com/a/AAcHTtfaNzPfO-0ssuBy04RG6-ybOEAL5LrdteRr98jvZfHAxf0=s96-c"
          alt=""
        />
        <div>
          <p class="font-bold">Phạm Huy</p>
          <p style="color: rgb(70, 159, 231)">huyhoavang12370-cno</p>
        </div>
      </div>
      
      <div class="shadow p-2 flex flex-col gap-[14px]">
        <div
          class="flex flex-col gap-[10px] pb-[10px]"
          style="border-bottom: 1px solid gray"
        >
          <p style="font-weight: 600">Tên truy cập</p>
          <p>huyhoavang12370-cno</p>
        </div>
        <div
          class="flex flex-col gap-[10px] pb-[10px]"
          style="border-bottom: 1px solid gray"
        >
          <p style="font-weight: 600">Họ và tên</p>
          <p>Phạm Minh Huy</p>
        </div>
        <div
          class="flex flex-col gap-[10px] pb-[10px]"
          style="border-bottom: 1px solid gray"
        >
          <p style="font-weight: 600">Email</p>
          <p>huyhoavang1231@gmail.com</p>
        </div>
        <div
          class="flex flex-col gap-[10px] pb-[10px]"
          style="border-bottom: 1px solid gray"
        >
          <p style="font-weight: 600">Ngày sinh</p>
          <p>23-03-2001</p>
        </div>
        <div
          class="flex flex-col gap-[10px] pb-[10px]"
          style="border-bottom: 1px solid gray"
        >
          <p style="font-weight: 600">Giới tính</p>
          <p>Nam</p>
        </div>
        <div class="flex flex-col gap-[10px] pb-[10px]">
          <p style="font-weight: 600">Số điện thoại</p>
          <p>0354798357</p>
        </div>
      </div>
  </div>
