<div class="container-xl">
    <div class="flex flex-row gap-5">
        <div class="menu_left shadow p-3">
            <div class="flex flex-wrap gap-4 mt-[10px] cursor-pointer">
                <mat-icon>person</mat-icon>
                <span>Hồ sơ</span>
            </div>
            <div class="flex flex-wrap gap-4 mt-[15px] cursor-pointer">
                <mat-icon>accessibility_new</mat-icon>
                <span>Sức khoẻ của tôi</span>
            </div>
            <div class="flex flex-wrap gap-4 mt-[15px] cursor-pointer">
                <mat-icon>bookmark</mat-icon>
                <span>Đã lưu</span>
            </div>
            <div class="flex flex-wrap gap-4 mt-[15px] cursor-pointer">
                <mat-icon>history</mat-icon>
                <span>Lịch sử đặt chỗ</span>
            </div>
            <div class="flex flex-wrap gap-4 mt-[15px] cursor-pointer">
                <mat-icon>question_answer</mat-icon>
                <span>Cộng đồng</span>
            </div>
            <div class="flex flex-wrap gap-4 mt-[15px] cursor-pointer">
                <mat-icon>settings</mat-icon>
                <span>Thiết lập tài khoản</span>
            </div>
            <div class="flex flex-wrap gap-4 mt-[15px] cursor-pointer">
                <mat-icon>help_outline</mat-icon>
                <span>Trợ giúp</span>
            </div>
            <div class="flex flex-wrap gap-4 mt-[15px] cursor-pointer">
                <mat-icon>arrow_right_alt</mat-icon>
                <span>Đăng xuất</span>
            </div>
        </div>
        <div class="profile flex flex-col gap-[14px] ">
            <!-- Hồ sơ -->
            <div class="flex justify-between items-center w-[100%]">
                <h3 class="font-bold text-[27px] text-left">Hồ sơ</h3>
                <h3 style="">Chỉnh sửa</h3>
            </div>
            <!--  -->
            <!-- avatar -->
            <div class="avatar flex flex-row gap-4 items-center">
                <img class="rounded-full" src="https://lh3.googleusercontent.com/a/AAcHTtfaNzPfO-0ssuBy04RG6-ybOEAL5LrdteRr98jvZfHAxf0=s96-c" alt="">
                <div>
                    <p class="font-bold">Phạm Huy</p>
                    <p style="color: rgb(70, 159, 231);">huyhoavang12370-cno</p>
                </div>
            </div>
            <!--  -->
            <!-- Tên truy cập -->
            <div class="shadow p-2 flex flex-col gap-[14px]">
                <div class="flex flex-col gap-[10px] pb-[10px]" style="border-bottom: 1px solid gray;">
                    <p style="font-weight: 600;">Tên truy cập</p>
                    <p>huyhoavang12370-cno</p>
                </div>
                <div class="flex flex-col gap-[10px] pb-[10px]" style="border-bottom: 1px solid gray;">
                    <p style="font-weight: 600;">Họ và tên</p>
                    <p>Phạm Minh Huy</p>
                </div>
                <div class="flex flex-col gap-[10px] pb-[10px]" style="border-bottom: 1px solid gray;">
                    <p style="font-weight: 600;">Email</p>
                    <p>huyhoavang1231@gmail.com</p>
                </div>
                <div class="flex flex-col gap-[10px] pb-[10px]" style="border-bottom: 1px solid gray;">
                    <p style="font-weight: 600;">Ngày sinh</p>
                    <p>23-03-2001</p>
                </div>
                <div class="flex flex-col gap-[10px] pb-[10px]" style="border-bottom: 1px solid gray;">
                    <p style="font-weight: 600;">Giới tính</p>
                    <p>Nam</p>
                </div>
                <div class="flex flex-col gap-[10px] pb-[10px]" style="border-bottom: 1px solid gray;">
                    <p style="font-weight: 600;">Số điện thoại</p>
                    <p>0354798357</p>
                </div>
            </div>

        </div>
    </div>
</div>

